extends bootstrap
block main
    h2 Groups
    div Create or Delete a Group
    hr
    form#newGroup(action="/rest/newGroup", method="post")
        input#email(type="text", required, name="newGroupName", placeholder="new group name")
        button(type="submit") Create
    #groupPreview
        ul
            each group in groups
                li= group.name