extends bootstrap
block body
    h1 Login
    div #{loginLeft}
    form#loginInput(action="/rest/login", method="post")
        input#email(type="email", required, name="mail", placeholder="E-Mail")
        input#pwd(type="password", required, name="pwd" placeholder="Password")
        button(type="submit") Login