extends bootstrap
block body
    h1 Login
    #loginInput
        input#email(type="email", name="mail", placeholder="E-Mail")
        input#pwd(type="password", name="pwd" placeholder="Password")
        button(type="submit") Login